// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

.bar {
  background: rgba(10, 0, 0, 0.8);
  color: $fg-color;
  font-weight: bold;
}

// .top {
//   border-bottom: 1px solid #33ccffee;
// }
//
// .right {
//   border-left: 1px solid #33ccffee;
// }
//
// .left {
//   border-right: 1px solid #33ccffee;
// }

.test {
  min-width: 100px;
}

.player-button {
  border-radius: 0;
  border: 2px solid $fg-color;
  padding: 10px 2.5px;
  margin: 0;
  font-size: 25px;
}

.menu {
  background: rgba(10, 0, 0, 0);
  color: $fg-color;
}

.centerbox {
  background: transparent;
  border-radius: 10px;
  padding: 5px;

  button {
    border-radius: 0;
    border: 1px;
    padding: 2.5px 10px;
    margin: 0;
    font-size: 15px;
    border-style: solid;
  }

  .workspace-button {
    border-radius: 0;
    margin: 0;
    padding: 2.5px 10px;
    border: 2px solid $fg-color;
  }

  .red-border {
    border-color: red !important;
  }


  .workspace-focused {
    background: $fg-color;
    color: $bg-color;
    padding: 2.5px 20px;
  }
}

