// audio
.audio_button {
	font-size: 1.5rem;
}

.audio_button:hover {
	color: #D35D6E;
}

.audioWindowBox {
	background-color: #1f2335;
	border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.audioImg {
  border-radius: 10rem;
}

.audioControls {
}

